.detail-product-container{
    margin: auto;
    max-width: 600px;
    box-shadow: 0 0 5px goldenrod;
    border-radius: 10px;
    display: flex;
    
    padding: 10px;
}
.detail-product-image{
    flex: 0.3;
    align-items: center;
    display: flex;
}
.detail-product-image img{
    width: 100%;
}
.detail-product-info{
    flex: 0.7;
    padding-left: 10px;
}
.detail-product-title{
    margin-bottom: 10px;
}
.detail-product-description{
    color: rgb(68, 68, 68);
    margin-bottom: 10px;
}
.detail-product-rating-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
}
.detail-product-rating-container span:first-child{
    display: flex;
    align-items: center;
}
.detail-product-rating-container span:last-child{
    padding-left: 2px;
}
.detail-product-btn-container{
   display: flex;
   align-items: center;
   gap: 10px;
}
.detail-product-btn{
    background-color: #000;
    color: goldenrod;
    padding: 5px 8px;
    border-radius: 5px;
    text-transform: capitalize;
    transition: all 0.3s ease;
    letter-spacing: 0.6px;
    border: none;
}
.detail-product-btn:hover{
    background-color: #fff;
color: goldenrod;
cursor: pointer;
box-shadow: 0 0 5px goldenrod;
}
.detail-product-inCart-btn{
    background-color: #000;
    color: goldenrod;
    padding: 5px 8px;
    border-radius: 5px;
    text-transform: capitalize;
    transition: all 0.3s ease;
    letter-spacing: 0.6px;
    border: none;
}

@media only screen and (max-width: 630px){
    .detail-product-container{
    margin: 0px 20px;

    }
}
@media only screen and (max-width: 468px){
    .detail-product-btn-container{
        flex-direction: column;
        align-items: flex-start;
     }
     .detail-product-title{
        font-size: 18px;
    }
    .detail-product-description{
        font-size: 14px;
    }
}
@media only screen and (max-width: 400px){
    .detail-product-container{
        flex-direction: column;
    }
    .detail-product-image{
        justify-content: center;
        margin-bottom: 10px;
    }
    .detail-product-image img{
        max-width: 200px;
        height: 180px;
    }
}