.cart-total-container{
    margin-left: auto;
    padding: 10px;
    max-width: 200px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.amount-container{
    display: flex;
    justify-content: space-between;
}
.amount-text{
    flex: 0.5;
}
.amount{
    flex: 0.5;
    padding-left: 2px;
}
.clear-cart-btn{
    background-color: goldenrod;
    border: none;
    height: 28px;
    line-height: 28px;
    border-radius: 10px;
    cursor: pointer;
}