.product-page-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(1128px - 240px);
    margin-left: auto;
    padding-left: 20px;
}
.product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}